<h1>Welcome <%= @playerone.name %> and <%= @playertwo.name %> to battle!</h1>
<h3><%= @playerone.name %>: <%= @playerone.hp %>HP</h3>
<h3><%= @playertwo.name %>: <%= @playertwo.hp %>HP</h3>
<a href='/attack'>Attack</a>

<h3> <%= @current_player.name%>s turn</h3>
